*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-style: Montserrat;
    background-color: #252B42;
}
#firstpart {
    width: 100%;
    height: auto;
    
}
@media screen and (max-width: 500px) {
    #firstpart {
        
    }
}
#firstpart header{
    height: 7%;
    padding: 1% 2%;
}
@media screen and (max-width: 500px) {
    #firstpart header {
        height: 7%;
        padding: 5% 3%;
    }
}
#firstpart header nav{
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo-g {
    width: 20%;
}
@media screen and (max-width: 500px) {
    .logo-g {
        width: 50%;
    }
}
a.logo-link {
    text-decoration: none;
    display: inline-block;
}
nav img {
    vertical-align: middle;
    width: 5vw;
}

@media screen and (max-width: 500px) {
    nav img {
        vertical-align: middle;
        width: 12vw;
    }
}
p.logo-text {
    display: inline;
    color:white;
    font-weight: 800;
    font-size: 2.7vw;
    vertical-align: middle;
    font-family: "Sansita Swashed";
}

@media screen and (max-width: 500px) {
    p.logo-text {
        font-size: 6vw;
    }
}

p.logo-text .black {
    color: black;
}

.links {
    width: 80%;
    height: 100%;
    text-align: center;
}
@media screen and (max-width: 500px) {
    .links {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        background-color: #f6b400;
        z-index: 2;
        top: 0.05%;
        right: -100%;
        text-align: center;
        transition: 0.5s ease;
    }
    #check:checked ~ .links {
        right: 0.1%;
    }
}

.links ul {
    display: inline;
}

@media screen and (max-width: 500px) {
    .links ul {
        padding-left: 0;
    }
}
.links li {
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 1.3vw;
    text-transform: capitalize;
    margin: 0 2%;
    text-decoration: none;
    color:white;
}
@media screen and (max-width: 500px) {
    .links li {
        list-style-type: none;
        display: block;
        font-weight: 700;
        font-size: 6vw;
        text-transform: capitalize;
        margin: 15% 0;
        text-decoration: none;
        color: white;
    }
}
.links2 ul{
    display: inline-flex;
    padding-left: 0;
    margin:30px 20px 50px 50px;
}
.links2 ul li{
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 1.3vw;
    text-transform: capitalize;
    margin: 0 2%;
    text-decoration: none;
    color:white;
}